extends layout

block content
  form(id='form', method='post', action='/create')
        p Username:&nbsp;
          br
          input(type='text', name='username')
        p Password:&nbsp;
          br
          input(type='password', name='password')
        p Age:&nbsp;
          br
          input(type='text', name='age')
        p Email:&nbsp;
          br
          input(type='text', name='email')
        p #{questions.questionOne}
          br
          select(id='questionOne', class='questions')
            option(value='A', id='oneA', class='oneAnswers')
            option(value='B', id='oneB', class='oneAnswers')
            option(value='C', id='oneC', class='oneAnswers')
            option(value='D', id='oneD', class='oneAnswers')
        p #{questions.questionTwo}
          br
          select(id='questionTwo', class='questions')
            option(value='A', id='twoA', class='twoAnswers')
            option(value='B', id='twoB', class='twoAnswers')
            option(value='C', id='twoC', class='twoAnswers')
            option(value='D', id='twoD', class='twoAnswers')
        p #{questions.questionThree}
          br
          select(id='questionThree', class='questions')
            option(value='A', id='threeA', class='threeAnswers')
            option(value='B', id='threeB', class='threeAnswers')
            option(value='C', id='threeC', class='threeAnswers')
            option(value='D', id='threeD', class='threeAnswers')
        p
          input(type='submit', value='Create User')