extends layout
block content
  form(id='form', method='post', action='/edit/' + person.id)
        p Username:&nbsp;
          br
          input(type='text', name='username', value=person.username)
        p Password:&nbsp;
          br
          input(type='password', name='password', value=person.password)
        p Age:&nbsp;
          br
          input(type='text', name='age', value=person.age)
        p Email:&nbsp;
          br
          input(type='text', name='email', value=person.email)
        p
          input(type='submit', value='Update User')