extends layout

block content
    h3=title
    div(id='login')
      h3 Existing User's Login
      form(id='form', method='post', action='/')
          p Username:&nbsp;
            br
            input(type='text', name='username')
          p Password:&nbsp;
            br
            input(type='password', name='password')
          p
            input(type='submit', value='Log In')
    div(id='divSpacer')        
    div(id='newUser')
      h3 New User Account Creation
      a(href="/create") Create New User
    div(id='canvasHolder')
      div(id='canvas')
        canvas(id='my_canvas1', width='300', height='200')
      div(id='canvas')
        canvas(id='my_canvas2', width='300', height='200')
      div(id='canvas')
        canvas(id='my_canvas3', width='300', height='200')