extends layout

block content
    h3=title
    p This is cool Woot!
    form(id='form', method='post', action='/submitted')
        p userName:&nbsp;
          input(type='text', name='userName')
        p password:&nbsp;
          input(type='text', name='password')
        p
          input(type='submit', value='Log In')
    
    a(href="/create") createUser