extends layout

block content
    h3=title
    div(id='login')
      h3 Existing User's Login
      form(id='form', method='post', action='/submitted')
          p Username:&nbsp;
            br
            input(type='text', name='username')
          p Password:&nbsp;
            br
            input(type='text', name='password')
          p
            input(type='submit', value='Log In')
    div(id='divSpacer')        
    div(id='newUser')
      h3 New User Account Creation
      a(href="/create") Create New User