th {
    border: 1px solid #000;
}

body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('images/squairy_light.png')
}

#login {
    margin-left: 17%;
    /*border: 1px solid #000;    */
    float: left;
    width: 30%;
}

#divSpacer {
    margin-left: 38%;
    margin-right: 35%;
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: #000; 
}

#newUser {
    margin-right: 17%;
    /*border: 1px solid #000;*/
    float: right;
    width: 25%;
}

a {
    color: #00f;
}

a:link {
    color: #00f;
}

a:visted {
    color: #00f;
}

a:active {
    color: #00f;
}

.canvas {
    display: inline-block;
    margin-left: 3.25%;
    margin-right: 3.25%;
}

#my_canvas1 {
    /*background-image: url('images/squairy_light.png');*/
    background-color: #000;
}

#my_canvas2 {
    /*background-image: url('images/squairy_light.png');*/
    background-color: #000;
}

#my_canvas3 {
    /*background-image: url('images/squairy_light.png');*/
    background-color: #000;
}

#canvasHolder {
    width: 80%;
    margin-top: 25%;
    position: absolute;
}